        .topnav{
            overflow:hidden;
        }
        .topnav a{
            float:left;
            color:#333;
            text-align:center;
            padding:14px 16px;
            text-decoration: none;
            font-size:17px;
        }
        .topnav-right{
            float:right;
        }
      
    
        .photo{
            position: relative;
            left: 800px;
            top: 200px;
        }
        .searchbar{
            position:relative;
            left:675px;
            top:200px;
        }
         
            body {
                height: 100vh;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: small;
            }
        
       
            form {
                display: block;
                margin-top: 0em;
            }
            input{
                width:500px;
                height:30px;
                border-radius:50px;
                border: 1px solid #e1e1e1;
                margin:15px;
            }
            .searchimg
            {
                width:30px;
                background-color:transparent;
                position:relative;
                right:550px;
                top:5px;
            }
            #gsearch
            {
                position:relative;
                top:50px;
                right:475px;
            }
            #flucky
            {
                position:relative;
                top:50px;
                right:400px;
            }
            button{
                
                border-radius: 50px;
                background-color: transparent;
                border-color: whitesmoke;
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
                margin:20px;
            }
           
        